<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Nurse Page</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background: url("https://www.itij.com/sites/default/files/styles/og_image/public/2021-08/hospital-modern.jpg?h=f8702894&itok=r_2edjAc") no-repeat center fixed;
            background-size: cover;
        }
        main {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>

<header>
    <nav class="cyan">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><i class="material-icons">local_hospital </i><th:block th:text="#{hospital}"/></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class='dropdown-trigger btn' href='#' data-target='dropdown1' th:text="#{changeLanguage}"></a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <div th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
                                <li> <a class="dropdown-item" th:href="@{${currentUrl}(lang=en)}">English</a></li>
                                <li> <a class="dropdown-item" th:href="@{${currentUrl}(lang=ua)}">Українська</a></li>
                            </div>
                        </ul>
                    </li>
                    <li><a href="/logout" class="btn cyan darken-2" th:text="#{logout}"/></li>
                </ul>
            </div>
            <div class="input-field col s12">
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="$/logout" class="btn cyan lighten-1" th:text="#{logout}"/></li>
    </ul>
</header>
<main>
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header">
                <h4 th:text="|${nurse.getUser().getName()} ${nurse.getUser().getSurname()}|"/>
            </li>
            <th:block th:each="patient: ${patients}">
                <li class="collection-item ">
                    <form method="post" th:action="@{/nurse/completeAssignment}">
                        <input type="hidden" id="patientId2" name="patientId2" th:value="${patient.getId()}">
                        <button class="btn right cyan lighten-1" th:text="#{completeAssignment}" />
                    </form>
                    <span class="title" th:text="#{nameList}"/> <th:block th:text="| ${patient.getUser().getName()}|"/>
                    <p></p>
                    <span th:text="#{surnameList}"/> <th:block th:text="| ${patient.getUser().getSurname()}|"/>
                    <p></p>
                    <span th:text="#{birthdayList}"/> <th:block th:text="| ${ patient.getUser().getBirthday()}|"/>
                    <p></p>
                    <span th:text="#{currentDoctorList}"/> <th:block th:text="| ${patient.getDoctor().getUser().getName()} ${patient.getDoctor().getUser().getSurname()} (${patient.getDoctor().getDoctorsType().getType()})|"/>
                    <p></p>
                    <span th:text="#{assignmentTypeList}"/> <th:block th:text="| ${patient.getTreatment().getAssignment().getType().getType()}|"/>
                    <p></p>
                    <span th:text="#{assignmentDescriptionList}"/> <th:block th:text="| ${patient.getTreatment().getAssignment().getDescription()}|"/>
                    <p></p>
                    <span th:text="#{diagnosisList}"/> <th:block th:text="| ${patient.getTreatment().getDiagnosis().getType()}|"/>
                    <p></p>
                </li>
            </th:block>
        </ul>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('.sidenav').sidenav();
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
    });
</script>
</body>
</html>